html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ededed;
    color: #000000;
    line-height: 1.15;
}

.container {
    flex-basis: 1000px;
    padding: 60px;
}

@media(max-width: 767px) {
    .container {
        padding: 40px;
    }
}

@media(max-width: 475px) {
    .container {
        padding: 20px;
    }
}