html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #ededed;
    color: #000000;
    line-height: 1.15;
}