.tasks {
    margin: 0;
    padding: 20px 20px 30px;
    border-top: 2px solid #ededed;
    list-style: none;
}

.tasks__item {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid #b9b9b9;
}

.tasks__text {
    word-break: break-word;
    flex-grow: 1;
}

.tasks__text--done {
    text-decoration: line-through;
}

.tasks__button {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    align-self: center;
    margin: 10px;
    background-color: #1a7b1e;
    border: none;
}

.tasks__button--remove {
    background-color: #ec293a;
}