.task {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}


.task__header {
    margin: 20px;
    font-size: 20px;
}

.task__box {
    display: flex;
    margin: 0;
    padding: 20px;
    border-top: 2px solid #ededed;
}

@media(max-width: 767px) {
    .task__box {
        flex-direction: column;
    }
}

.task__input {
    flex-grow: 1;
    padding: 10px 20px;
    border: 1px solid #b9b9b9;
}

.task__button {
    border: none;
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #007382;
    color: #fff;
}

@media(max-width: 767px) {
    .task__button {
        margin-top: 20px;
        margin-left: 0;
    }
}

@media(max-width: 475px) {
    .task__button {
        margin-top: 20px;
        margin-left: 0;
    }
}